<!DOCTYPE html>
<html>
  <head>
    <title>g81 Standards-Checkpoints Map</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" charset="utf-8"></script>
    <script src="/js/frontend.js" charset="utf-8"></script>
  </head>
  <body>
    <h3>g81 Standards-Checkpoints Map</h3><h4></h4><a href="/installext.html">Get the Chrome extension!</a>
    <table id="maptable" class="display cell-border">
      <thead>
        <tr>
          <th>#</th>
          <th>Unit</th>
          <th>Standard</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="errormsg"></div>
  </body>
</html>
