body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: rgba(247, 144, 32, 0.10);
}


#installext img {
  max-width: 300px;
  box-shadow: 0px 0px 10px 0px grey;
  margin: 20px;
  vertical-align: top;
  display: block;
}

#installext li {
  margin-bottom: 20px;
}
